.books_home {
        justify-content: center;
        width: 80%;
        overflow: auto;
        margin: 0 auto;
        padding-bottom: 100px;
}

.books_home_image {
        width: 100%;
}

.books_home_new_release {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
}

.recommend_book {
        margin-right: 30px;
}

.recommend_book > img {
        object-fit: contain;
}

.books_home_row {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
}

.books_home_category {
        margin-top: 20px;
}

.books_home_categoryTitle {
        display: inline-flex;
        margin-top: 30px;
        margin-bottom: 10px;
}

.books_home_categoryTitle > h3 {
        margin-left: 20px;
        margin-top: 5px;
}


