.checkout_container {
        padding: 20px;
        background-color: rgb(234, 234, 241);
        height: max-content;
}

.checkout_ad {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
}

.checkout_ad > img {
        width: 100%;
}

.checkout_area {
        display: flex;
}

.checkout_title_header {
        display: flex;
        margin: auto 20px;
}

.column1 {
        width: 90%;
        margin-right: 20px;
        margin-bottom: 10px;
}

.column2 {
        width: 10%;
        color: grey;
        font-size: 10px;
        text-align-last: right;
        vertical-align: bottom;
        margin-bottom: 0;
}

.checkout_title {
        width: 100%;  
}

.checkout_item {
        width: 100%;  
        margin-right: 20px;
        padding: 20px;
        border-bottom: 1px solid lightgrey;
        background-color: white;
}

.checkout_right {
        display: flex;
        flex-direction: row;
        margin: 0 0 auto auto;

}
