.header {
        height: 80px;
        display: flex;
        align-items: center;
        background-color: rgb(20, 24, 24);
        position: sticky;
        top: 0;
        z-index: 2;
}

.header_logo {
        display: flex;
        width: 120px;
        object-fit: contain;
        margin: 0 20px;
        filter: saturate(3000%) brightness(100000%) contrast(10000%);
}

.header_address {
        display: flex;
        align-items: center;
        margin-right: 5px;
}

.header_locationIcon {
        display: flex;
        height: 15px !important;
        margin-bottom: 0;
}

.header_search {
        display: flex;
        flex: 1;        
        width: 100%;
        align-items: center;
        margin: auto 20px auto 10px;
}

.header_search_category {
        display: flex;
        align-items: center;
        background-color: rgb(248, 245, 245);
        padding: 5px 8px;
        border: 1px solid lightgray;
        font-size: 14px;
        border-radius: 3px 0px 0px 3px;
}

.header_searchInput {
        font-size: 15px;
        display: flex;
        height: 20px;
        padding: 8px;
        width: 90%;
        border: none;
}

.header_searchIcon {
        display: flex;
        margin-top: 4px;
        background-color: #ffbb62;
        border-radius: 0px 3px 3px 0px;
        padding: 6px;
}

.header_optionCountry {
        display: flex;
        align-items: center;
        margin-right: 5px;
}

.flagIcon {
        display: flex;
        width: 30px;
}

.header_optionLineOne {
        display: flex;
        font-size : 12px;
        padding-top: 5px;
}

.header_optionLineTwo {
        display: flex;
        font-size: 14px;
        font-weight: 800;
        vertical-align: middle;
}

.header_optionCart {
        display: flex;
        align-items: center;
        color: white;
}

.header_cartCount {
        display: flex;
        margin-left: 10px;
        margin-right: 20px;
        color: #ffbb62;
}

.header_nav {
        display: flex;
        justify-content: space-evenly;
}

.header_option {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        color: white;
        padding: 3px;
        vertical-align: middle;
}

.header_dropdownIcon {
        display: flex;
        vertical-align: middle;
        color: rgb(156, 156, 156);
        margin-left: 0;
}

.header_link {
        border: 1px solid rgb(20, 24, 24);
}

.header_link:hover {
        border: 1px solid white;
}