.home {
        width: 100%;
        background-color: rgb(241, 241, 240);
        justify-content: center;
        overflow-x: auto;
        overflow-y: auto;
        padding-bottom: 100px;
}

.home_container { 
        width: 80%;
        margin: 0 auto;
}

.home_row {
        display: flex;
        margin-bottom: 50px;
}
