.product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin: 20px;
        padding: 20px;
        width: 100%;
        max-height: 400px;
        min-width: 100px;
        background-color: rgb(243, 242, 242);
}

.product > img {
        max-height: 200px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 15px;
}

.product_title {
        display: inline-block;
        font-size: 16px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.8em;
}

.product_priceSale {
        margin-top: 5px;
}

.product_rating_stars {
        display: inline-flex;        
}

.product_stars_solid {
        color: #ee8814;
}


.product_ratingNumber {
        font-size: 12px;
        color: rgb(49, 49, 49);
        margin-left: 5px;
}

.product > button {
        font-size: 14px;
        background-color: #ffd365;
        border: 1px solid;
        margin-top: 10px;
        padding: 8px;
        border-color: #a99734 #9c7e31 #846129;
        color: #111;
        border-radius: 3px;
}

.product > button:hover {
        background-color: #ffb700;
}

.product_info {
        height: 100px;
        margin-bottom: 15px;
}

.product_priceSymbol, .product_priceFraction {
        font-size: 12px;
        vertical-align: top;
}