.product {
        text-align: center;
        margin-right: 20px;
        max-height: 400px;
        width: 300px;
        background-color: rgb(243, 242, 242);
}

.product > img {
        max-height: 200px;
        object-fit: contain;
        margin: 15px;
}

.product_info {
        height: 100px;
        padding: 0 40px 0 40px;
}

.product_title {
        font-size: 14px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        height: 3.6em;
        line-height: 1.8em;
        margin: 5px auto 0 auto;
        text-align: left;
}

.product_rating_stars {
        display: inline-flex;        
}

.product_stars_solid {
        color: #ee8814;
}


.product_ratingNumber {
        font-size: 12px;
        color: rgb(49, 49, 49);
        margin-left: 5px;
}

.product > button {
        padding: 5px 10px;
        width: 40%;
        margin-bottom: 15px;
}

.product_priceSymbol, .product_priceFraction {
        font-size: 12px;
        vertical-align: top;
}