.subHeader {
        display: flex;
        background-color: rgba(1, 11, 24, 0.904);
        padding: 8px;
}

.subHeader_option {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3px 15px;
        color: white;
        vertical-align: middle;
        font-size: 14px;
        text-shadow: 1px 1px rgb(68, 84, 116);
}

.subHeader_line {
        display: flex;
}

.subHeader_menuIcon >div {
        width: 15px;
        height: 1px;
        background-color: white;
        margin: 3px 0;
}

.subHeader_menuIcon {
        margin-right: 8px;
}

.subHeader_dropdownIcon {
        margin-left: 5px;
        color: lightgrey;
        font-size: 0.3rem;
}

.subHeader_slogan {
        margin: auto 25px auto auto;
        color: white;
}
