.subHeader {
        display: flex;
        background-color: rgba(1, 11, 24, 0.904);
}

.subHeader_option {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px;
        margin: 5px 5px;
        color: white;
        vertical-align: middle;
        font-size: 14px;
        text-shadow: 1px 1px rgb(68, 84, 116);
}

.subHeader_menuIcon {
        margin-right: 3px;
        vertical-align: middle;
}

.subHeader_dropdownIcon {
        vertical-align: middle;
        color: rgb(156, 156, 156);
}

.subHeader_slogan {
        margin: auto 25px auto auto;
        color: white;
}