.subHeader {
        display: flex;
        background-color: rgba(1, 11, 24, 0.904);
        padding: 8px;
}

.subHeader_option {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3px 15px;
        color: lightgrey;
        vertical-align: middle;
        font-size: 14px;
        text-shadow: 1px 1px rgb(68, 84, 116);
}

.subHeader_line {
        display: flex;
}

.subHeader_menuIcon >div {
        width: 15px;
        height: 1px;
        background-color: lightgrey;
        margin: 3px 0;
}

.subHeader_menuIcon {
        margin-right: 8px;
}

.subHeader_dropdownIcon {
        margin-left: 5px;
        color: grey;
        font-size: 0.3rem;
}

.subHeader_slogan {
        margin: auto 25px auto auto;
        color: white;
}

.subHeader_active {
        color: yellow;
}

.subHeader_link:hover {
        border: 1px solid white;
}

@media (max-width: 1500px){
        .subHeader_slogan {
                display: none;
        }
}

@media (max-width: 1300px){
        .subHeader_toys_games {
            display: none;
        }
}

@media (max-width: 1200px){
        .subHeader_amazon_outlet {
            display: none;
        }
}

@media (max-width: 1100px){
        .subHeader_home {
            display: none;
        }
}

@media (max-width: 1000px){
        .subHeader_electronics {
            display: none;
        }
}

@media (max-width: 900px){
        .subHeader_sell {
            display: none;
        }
}

@media (max-width: 850px){
        .subHeader_fashion {
            display: none;
        }
}

@media (max-width: 750px){
        .subHeader_prime {
            display: none;
        }
}

@media (max-width: 660px){
        .subHeader_new_release {
            display: none;
        }
}

@media (max-width: 570px){
        .subHeader_customer_service {
            display: none;
        }
}