.subtotal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 180px;
        padding: 20px;
        background-color: white;
        border: 1px solid #dddddd;
}

.subtotal_message {
        display: flex;
        font-size: 12px;
        margin: 5px 5px 10px 5px;
}

.subtotal_checkIcon {
        color: green;
        margin-right: 10px;
}

.subtotal_total {
        padding: 10px;
}

.subtatol_item {
        font-size: 16px;
        display: inline;
}

.subtatol_value {
        margin-left: 5px;
        display: inline;
}

.subtotal_gift {
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-top: 5px;
}

.subtotal_gift > input {
        margin-right: 5px;
}

.subtotal_total > button {
        margin-top: 20px;
}
